/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 22, 2023, 3:35:32 PM
    Author     : Thai Thanh Nguyen
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    margin: 20vh auto;
    max-width: 600px;
}

.session {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(225, 225, 220);
    max-width: 600px;
}


h1 {
    text-align: center;
}

input[type="text"],input[type="password"], select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 5px 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: white;
    background-color: rgb(81, 185, 72);
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: green;
}